<div class="mt-4">
<h2 class="text-center fw-bold">Thêm khóa học</h2>
  <form action="/courses/store" method="post">
    <input
      type="text"
      name="name"
      id="name"
      class="form-control mb-3"
      placeholder="Tên khóa học..."
    /> 
    <textarea
      name="description"
      id="description"
      class="form-control mb-3"
      placeholder="Mô tả khóa học..."
    /></textarea>
    <input
      type="text"
      name="videoID"
      id="videoID"
      class="form-control mb-3"
      placeholder="Video ID..."
    />
    <button type="submit" class="btn btn-primary">
      Thêm khóa học
    </button>

  </form>
</div>